/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* background-color: black; */
}

h1 {
  margin: 0;
}

img {
  border-style: none;
}

/* https://css-tricks.com/perfect-full-page-background-image */
.wrapper {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.wrapper h1 {
  font-family: "Amatic SC", cursive;
  font-size: 64px;
  color: antiquewhite;
  text-align: center;
  position: absolute;
  left: 50%;
  /* I think this works for centering? */
  top: calc(50% - 64px);
  -webkit-transform: translate(-50%, calc(-50% - 64px));
  -ms-transform: translate(-50%, calc(-50% - 64px));
  transform: translate(-50%, calc(-50% - 64px));
}

.wrapper h1 span {
  position: absolute;
}

/* https://css-tricks.com/perfect-full-page-background-image */
.wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  /* Darken the background image so our text is readable */
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
